doctype html
html
	head
		link(rel='stylesheet', href='https://2kimmy.com/archive/3years/term.css')
	body
		.container
			.console
				.console-head
					.console-title Console
					.console-actions
						.console-action.console-action-min
							span.fa.fa-caret-down
						.console-action.console-action-max
							span.fa.fa-arrows-alt
						.console-action.console-action-close
							a(href='javascript:window.history.back()')
								span.fa.fa-close
				.console-body
					.console-text elijah@pi:~$


						|  letter 1
						br
						| Hi Kim, I’m taking a break from setting up ur gift to let you know how much I love you. I tell you I love you all the time, but it’s never possible for me to say it as many times as I would like to. You are the most beautiful person I know, inside and out, your soul shines so bright that everything around you seems to be brighter too. I feel so lucky to be able to share my life with you.  
						br
						| i’ve always appreciated every thing you do for me, no matter how big it is, i love you for it.

						| i need more time with you though, i can never get enough of you.

						| i wanna go on errands w you if your nearby or if i’m near you.

						| i wanna continue exploring and seeing the world with you. here’s to 
						a(href="/3years/countdown.html") four, five years ❤️
						br
						sub when you read this tell me you love me ❤️

					//-   end letter
					span.console-input _
